In [27]:
import pandas as pd

In [28]:
df = pd.read_csv(r'C:\Users\srira\Downloads\milk.csv')

In [29]:
df.head()

    Month  Monthly milk production: pounds per cow
0  07-Feb                                      589
1  07-Mar                                      561
2  07-Apr                                      640
3  07-May                                      656
4  07-Jun                                      727

In [30]:

print(df.describe())

       Monthly milk production: pounds per cow
count                               168.000000
mean                                754.708333
std                                 102.204524
min                                 553.000000
25%                                 677.750000
50%                                 761.000000
75%                                 824.500000
max                                 969.000000

In [31]:
df['Date'] = pd.to_datetime(df['Month'], format="%y-%b")

In [32]:
df.head()

    Month  Monthly milk production: pounds per cow       Date
0  07-Feb                                      589 2007-02-01
1  07-Mar                                      561 2007-03-01
2  07-Apr                                      640 2007-04-01
3  07-May                                      656 2007-05-01
4  07-Jun                                      727 2007-06-01

In [33]:
df[-1:]

      Month  Monthly milk production: pounds per cow       Date
167  21-Jan                                      843 2021-01-01

In [34]:
df[['Year','Month']] = df['Month'].str.split('-',expand=True)

In [35]:
df.head()

  Month  Monthly milk production: pounds per cow       Date Year
0   Feb                                      589 2007-02-01   07
1   Mar                                      561 2007-03-01   07
2   Apr                                      640 2007-04-01   07
3   May                                      656 2007-05-01   07
4   Jun                                      727 2007-06-01   07

In [36]:
a = df.groupby('Date').sum()

In [38]:
b = a.sort_values(by=['Monthly milk production: pounds per cow'])

In [39]:
b

            Monthly milk production: pounds per cow
Date
2007-12-01                                      553
2007-03-01                                      561
2008-12-01                                      565
2008-03-01                                      566
2007-10-01                                      568
...                                             ...
2019-07-01                                      947
2018-06-01                                      957
2017-06-01                                      961
2020-06-01                                      966
2019-06-01                                      969

[168 rows x 1 columns]